{% extends "base.html" %}
{% block title %}Mein Zeitmanagement{% endblock %}


{% block head %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='core/main.css')}} "/>
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='daygrid/main.css')}} "/>
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='timegrid/main.css')}} "/>
{% endblock %}

{% block js %}
<script src = "{{ url_for('main.static', filename = 'js/main.js') }}" ></script>
{% endblock %}
{% endblock %}

{% block us %} <!-- Dieses Block ist für den Übersicht -->
<style>
    .uebersicht{
        border: 3px solid black;
        margin-left: 550px;
        margin-right:550px;
        margin-top: 0px;
    }
    .circle{
        width: 75px;
        height: 75px;
        border: 3px solid blue;
        background-color: white;
        border-radius: %100;
    }
</style>
<div class="uebersicht">
    <h3>Übersicht</h3>
    <div class="row">
        <div class="col">
            <div class="circle rounded-circle" style="margin-left: 20px; font-size: 45px; margin-bottom:10px;">{{current_user.urlaubTage}}</div>  <!-- Hier wurde der Kreis erzeugt, der im Übersicht ist  -->
        </div>
        <div class="col">
            <p style="text-align: center; font-size: 35px; padding-right: 200px;"> Urlaubstage </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="circle rounded-circle" style="margin-left: 20px; font-size: 45px;  margin-bottom:10px;"> {{current_user.krankheitsTage}} </div> <!-- Hier wurde der Kreis erzeugt, der im Übersicht ist  -->
        </div>
        <div class="col">

           <p style="text-align: center; font-size: 35px; padding-right: 150px;"> Krankheitstage </p>
        </div>
    </div>
</div>

{% endblock %}

{% block st %}
<h1 style="text-align: center;">Stempel</h1>

<p><a href="{{ url_for('stempel.stempeln') }}" class="btn btn-danger">Stempeln</a></p>


<label for="start_date"> Beginn: </label>
<input type="text" id="start_date">
<label for="end_date"> Ende: </label>
<input type="text" id="end_date">

{% if user.isPSB %}
    <p> <button onclick="sort('PSB')"> Sortieren </button> </p>
{% else %}
    <p> <button onclick="sort('notPSB')"> Sortieren </button> </p>
{% endif %}


<table class="table" id="Stempelliste">
      <thead>
    <tr>
      <th scope="col">start</th>
      <th scope="col">status</th>
      <th scope="col"> </th>
    </tr>
  </thead>

    {% for i in stempel %}
        {% if i.mitarbeiterRef.mitarbeiterID == user.mitarbeiterID %}
            <tr>
                <td>{{ i.start }}</td>
                <td>{{ i.status }}</td>
                {% if user.isPSB %}
                <td>>
                    <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('stempel.psb_aendern', sid=i.stempelID, mid=user.mitarbeiterID) }} "> Aendern </a></button>
                </td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}


</table>

{% endblock %}
{% block status %}
<!-- TODO meldung wenn noch nicht gestempelt -->
    <p class="m-1"> <font color="white"> Letzte Stempelaktion: {{ latest.status }} am {{ latest.start }} </font></p>
{% endblock %}
{% block body %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');   // Kalendar wird im HTML unter div="calendar" hinzugefügt

    var calendar = new FullCalendar.Calendar(calendarEl, { // hier wird neuer Kalender erstellt.
      plugins: [ 'interaction', 'dayGrid' ],               // plug ins addieren
      header: {
        left: 'prevYear,prev',
        center: 'title',
        right:'next,nextYear'
      },
      navLinks: false, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events

    });
    {% for a in mitarbeiterEvents %}                    // Jedes Event wird aufgerufen
        {% if a.mitarbeiterRef == current_user %}       // und wird kontrolliert, ob es zu dem Mitarbeiter gehört
        calendar.addEvent({                             // Falls ja, dann wird das Event im Kalendar hinzugefügt.
            title: '{{a.titel}}',
            start: '{{a.start}}',
            end: '{{a.end}}',
            color: '{{a.color}}'
        });
        {% endif %}
    {% endfor %}

    calendar.render();                   // Hier wird der Kalendar gezeichnet.
  });
</script>
<h1 style="text-align: center;">Mein Zeitmanagement</h1>

<div id="calendar"></div>


{% block javascript %}
<script type="text/javascript" src="{{url_for('.static', filename='core/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='daygrid/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='timegrid/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='interaction/main.js')}}"></script>
{% endblock %}


{% endblock %}