{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block title %}Zeitmanagement{% endblock %}


{% block head %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='core/main.css')}} "/>
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='daygrid/main.css')}} "/>
<link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='timegrid/main.css')}} "/>
{% endblock %}

{% block js %}
<script src = "{{ url_for('main.static', filename = 'js/main.js') }}" ></script>
{% endblock %}

{% endblock %}



{% block us %}
<style>
    .uebersicht{
        border: 3px solid black;
        margin-left: 520px;
        margin-right:520px;
        margin-top: 0px;
    }
    .circle{
        width: 75px;
        height: 75px;
        border: 3px solid blue;
        background-color: white;
        border-radius: %100;
    }
</style>
<div class="uebersicht">
    <h3>Übersicht</h3>
    <div class="row">
        <div class="col">
            <div class="circle rounded-circle" style="margin-left: 20px; font-size: 45px; margin-bottom:10px;">{{mitarbeiter.urlaubTage}}</div>  <!-- Hier wurde der Kreis erzeugt, der im Übersicht ist  -->
        </div>
        <div class="col">
            <p style="text-align: center; font-size: 35px; padding-right: 200px;"> Urlaubstage </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="circle rounded-circle" style="margin-left: 20px; font-size: 45px;  margin-bottom:10px;"> {{mitarbeiter.krankheitsTage}} </div>  <!-- Hier wurde der Kreis erzeugt, der im Übersicht ist  -->
        </div>
        <div class="col">

           <p style="text-align: center; font-size: 35px; padding-right: 200px;"> Krankheitstage </p>
        </div>
    </div>
</div>

{% endblock %}

{% block st %}
<h1 style="text-align: center;">Stempel</h1>

<label for="start_date"> Beginn: </label>
<input type="text" id="start_date">
<label for="end_date"> Ende: </label>
<input type="text" id="end_date">

{% if mitarbeiter.isPSB %}
    <p> <button onclick="sort('PSB')"> Sortieren </button> </p>
{% else %}
    <p> <button onclick="sort('notPSB')"> Sortieren </button> </p>
{% endif %}

<table class="table" id="Stempelliste">
      <thead>
    <tr>
      <th scope="col">start</th>
      <th scope="col">status</th>
      <th scope="col"></th>
    </tr>
  </thead>

    {% for i in stempel %}
        {% if i.mitarbeiterRef.id == mitarbeiter.id %}
            <tr>
                <td>{{ i.start }}</td>
                <td>{{ i.status }}</td>
                {% if cur_user.isPSB %}
                <td>>
                    <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('stempel.psb_aendern', sid=i.stempelID, mid=mitarbeiter.id) }} "> Aendern </a></button>
                </td>

                {% endif %}

            </tr>
        {% endif %}
    {% endfor %}

</table>
{% endblock %}

{% block body %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar'); // Kalendar wird im HTML unter div="calendar" hinzugefügt

    var calendar = new FullCalendar.Calendar(calendarEl, { // hier wird neuer Kalender erstellt.
      plugins: [ 'interaction', 'dayGrid' ],                    // plug ins addieren
      header: {
        left: 'prevYear,prev',
        center: 'title',
        right:'next,nextYear'
      },
      navLinks: false, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events

    });
    {% for a in mitarbeiterEvents %}            // Jedes Event wird aufgerufen
    {% if a.mitarbeiterRef == mitarbeiter %}    // und wird kontrolliert, ob es zu dem Mitarbeiter gehört
    calendar.addEvent({                          // Falls ja, dann wird das Event im Kalendar hinzugefügt.
        title: '{{a.titel}}',
        start: '{{a.start}}',
        end: '{{a.end}}',
        color: '{{a.color}}'
    });
    {% endif %}
    {% endfor %}

    calendar.render();
  });

</script>
<h1 style="text-align: center;">Zeitmanagement von {{mitarbeiter.nachName}}, {{mitarbeiter.name}}</h1>
<div id="calendar"></div>

{% block javascript %}
<script type="text/javascript" src="{{url_for('.static', filename='core/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='daygrid/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='timegrid/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='interaction/main.js')}}"></script>
{% endblock %}


<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal1 Content */
#modalcontent {
  background-color: #fefefe;
  margin-top: 150px;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  width: 7%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="btn btn-outline-dark btn-sm">Neuer Fehltag</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modalcontent" class="modal-content">
    <span class="close">&times;</span>
      <h3>Neuer Fehltag</h3>
    <form method=post>
        {{ form.hidden_tag() }}
        {{ render_field(form.fehlgrund) }}
        <b>Zeitraum</b>
        {{ render_field(form.vonDate) }}
        {{ render_field(form.bisDate) }}

        <button class="btn btn-outline-dark btn-sm" type=submit value=Submit>Erstellen</button>

    </form>


  </div>

</div>


<button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('.Fehltage_aendern', mID=mitarbeiter.mitarbeiterID) }} ">Fehltage ändern</a></button>


<h1></h1>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock %}