
html{
    background: #e0e0e0;
    background-image: url("/main-static/img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
all: unset;
}


.form {
  position: relative;
  z-index: 1;
  max-width: 420px;
  background: #FFFFFF;
  margin: 200px auto 100px;
  padding: 45px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form a {
  padding: 10px;
  font-size: 16px;
}

.form button {
  padding: 10px;
  font-size: 16px;
}


.text-danger{
    margin-top: 10px;
    text-align: center;
}

.password-information{
    position: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -5px;
}


.logout{
  position: relative;
  margin-top: 15px;
  font-size: 12px;
}

a{
 color: #0063cf;
 text-decoration: none;
 font-family: sans-serif;
}

a:hover{
 text-decoration: underline;
}


#text {
position: relative;
display: none;
margin-top: -10px;
margin-bottom: 10px;
font-size: 12px;
}