html{
    background: #e0e0e0;
    background-image: url("/main-static/img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Rücksetzung aller Werte, die von der common_css gesetzt werden */
body{
all: unset;
}


#logoutalert{
    position:fixed;
    text-align: center;
    z-index: 999;
}

.title{
    position: relative;
    margin-top: -10px;
    margin-bottom: 25px;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 420px;
  background: #FFFFFF;
  margin: 200px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
  padding: 10px;
  font-size: 16px;
}

.text-danger{
    margin-top: 10px;
    text-align: center;
}

#text {
position: relative;
margin-top: -10px;
margin-bottom: 10px;
font-size: 12px;
display: none;
}


