<!DOCTYPE html>
<html>
<head>
    <title>Anmelden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/main-static/js/main.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/main-static/css/ActivateAccount.css">
    {% endblock %}


</head>

<body onload="capsLock()">

<div class="form">
    <p class="password-information">
        Das Passwort muss für die erste Anmeldung aktualisiert werden.
        <br><br>Bitte geben Sie ein neues Passwort ein und bestätigen Sie dieses.
    </p>

    <form role="form" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                    {{form.password(class_="form-control")}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                    {{form.password_check(class_="form-control")}}
                </div>
            </div>
        </div>

        <p id="text">FESTSTELLTASTE ist aktiviert</p>
        {% if form.password_check.errors %}
        {% for e in form.password_check.errors %}
        <p class="text-danger">{{ e }}</p>
        {% endfor %}
        {% endif %}
        <div class="form-group row justify-content-center">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="fas fa-sign-in-alt"></span>
                    Anmelden
                </button>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-sm-12">
                <a type="button" role="button" class="btn btn-secondary btn-lg btn-block"
                   href="{{ url_for('main.logout') }}"><span
                        class="fas fa-sign-out-alt"></span> Abmelden
                </a>
            </div>


        </div>


    </form>


</div>


</body>

</html>
