<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% block css %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" title="Home" href="/"><i class="fas fa-home fa-lg"></i></a>

        <div>
            {% block status %}
            {% endblock %}
        </div>


        <ul class="navbar-nav ml-auto">
            <ul class="nav-item">
                <a class="nav-link" href="{{ url_for('meinzeitmanagement.home') }}">Mein Zeitmanagement</a>
            </ul>


            {% if current_user.isPSB %}
            <ul class="nav-item">
                <a class="nav-link" href="{{ url_for('mitarbeiterliste.home') }}">Mitarbeiterliste</a>
            </ul>

            {% endif %}

            <ul class="dropdown show">
                <a aria-expanded="false" aria-haspopup="true" class="navbar-brand"
                   data-toggle="dropdown"
                   title="Benutzer / Abmelden"
                   href="#" id="dropdownMenuLink" role="button">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>

                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right p-3"
                     style="width: auto">

                    <p class="dropdown-item-text px-2">
                        <nobr><b>Angemeldet als: </b>{{current_user.name}} {{current_user.nachName}}
                            - {{current_user.mitarbeiterID}}
                        </nobr>
                    </p>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item px-2" role="button" href="{{ url_for('main.settings') }}">
                        <span
                            class="fas fa-cog"></span> Einstellungen
                    </a>
                    <a class="dropdown-item px-2"
                            data-toggle="modal" role="button" href="#confirmation"><span
                            class="fas fa-sign-out-alt"></span> Abmelden
                    </a>
                </div>

            </ul>
        </ul>
    </div>
    </div>
</nav>

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Abmeldung bestätigen</h5>
            </div>
            <div class="modal-body">
                Möchten Sie sich wirklich vom System abmelden?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="{{ url_for('main.logout') }}">OK</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm">
            <div class="container" align="center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible col-md-5" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}
            </div>

            {% block us %}
            {% endblock %}
            {% block st %}
            {% endblock %}

        </div>

    </div>

</div>


{% assets "common_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block js %}
{% endblock %}
</body>
</html>
