<!DOCTYPE html>
<html>
<head>
    <title>Anmelden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/main-static/js/main.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">
    {% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/main-static/css/login.css">
    {% endblock %}

</head>

<body onload="capsLock()">

<div class="d-flex justify-content-center">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div id="logoutalert" class="alert alert-{{ category }} alert-dismissible col-md-3 mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>


<div class="form">


    <form role="form" method="post">

        <div class="title">
            <img src="/main-static/img/icon.png" width="100%">
        </div>

        {{ form.hidden_tag() }}

        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    {{form.mitarbeiterID(class_="form-control")}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                    {{form.password(class_="form-control")}}
                </div>
            </div>
        </div>
             <p id="text">FESTSTELLTASTE ist aktiviert</p>

                {% if form.mitarbeiterID.errors %}
        {% for e in form.mitarbeiterID.errors %}
        <p class="text-danger">{{ e }}</p>
        {% endfor %}
        {% endif %}

        {% if form.password.errors %}
        {% for e in form.password.errors %}
        <p class="text-danger">{{ e }}</p>
        {% endfor %}
        {% endif %}


        <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="fas fa-sign-in-alt"></span> Anmelden</button>




    </form>

</div>


</body>

</html>
