{% extends "base.html" %}

{% block title %}Einstellungen{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Benutzer-Einstellungen

    </h1>
    <div class="row justify-content-center">
        <div class="card mb-4 mx-3 px-3">
            <div class="card-body">
                <div class="card-title mt-4">
                    <h2 class="text-center">Account-Informationen</h2>
                </div>
                <form class="mx-5 my-5">

                    <div class="form-group row">
                        <div class="col-sm-12 text-left">
                            <label for="Mitarbeiter-ID">Mitarbeiter-ID</label>
                            <div class="input-group mb-2">

                                <input class="form-control" type="text" ID="Mitarbeiter-ID"
                                       placeholder={{user.mitarbeiterID}} readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-left">
                            <label for="Name">Vollständiger Name</label>
                            <div class="input-group mb-2">

                                <input class="form-control" type="text" ID="Name"
                                       placeholder="{{user.name}} {{user.nachName}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-left">
                            <label for="mail">E-Mail/Tel.</label>
                            <div class="input-group mb-2">

                                <input class="form-control" type="text" ID="mail"
                                       placeholder="{{kontakt.mail}} / {{kontakt.tel}}" readonly>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>



            <div class="card mx-3 mb-4">
                <div class="card-body">
                    <div class="card-title mt-4">
                        <h2 class="text-center">Passwort aktualisieren</h2>
                    </div>

                    <form class="mx-5 my-5" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group row pt-4">
                            <div class="col-sm-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                    {{ form.old_password(class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                    {{ form.new_password(class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                    {{ form.password_check(class_="form-control") }}
                                </div>

                            </div>
                        </div>
                                                {% if form.password_check.errors %}
                        {% for e in form.password_check.errors %}
                        <p class="text-danger form-group">{{ e }}</p>
                        {% endfor %}
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                style="padding: 10px; font-size: 16px;">
                            Aktualisieren
                        </button>


                    </form>


                </div>

            </div>





    </div>

</div>


</div>


{% endblock %}