{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}Add Mitarbeiter{% endblock %}

{% block body %}
<h1 >Stammdaten bearbeiten</h1>
<style>
h1 {
text-align: center;
padding: 10px;
border-radius: 10px;
background-color: rgb(232,232,232)
}
</style>

<form method="POST">
{{ form.hidden_tag() }}
{{ mform.hidden_tag() }}
{{ kform.hidden_tag() }}
{{ oform.hidden_tag() }}
    <p style="text-decoration: underline; font-weight: 600; font-size: large;">Bitte alle Felder ausfüllen</p>
    {% for field in form if field.widget.input_type != 'hidden' %}
    <tr>
          <div class="row justify-content-center" style= "border-radius: 20px; ">
              <div class="col-*-*" >
                  <th>{{ field.label }}: </th>
                  <td>{{ field }}</td>
                  {% for error in field.errors %}
                  <span style="color: red;"> [{{ error }}]</span>
                  {% endfor %}
              </div>
          </div>
    {% endfor %}
        <div class="row justify-content-center" style="margin-top: 30px;" >
            <div class="col-*-*" >
                <p style="font-weight: 600; font-size: large;">Anschrift</p>
        {% for field in mform if field.widget.input_type != 'hidden' %}

                      <p style="margin-bottom: -5px;"><th>{{ field.label }}: </th></p>
                      <td> {{ field }}</td>
                {% for error in field.errors %}
                  <span style="color: red;"> [{{ error }}]</span>
                {% endfor %}
        {% endfor %}
            </div>
            <div class="col-*-*"style="margin-left:30px;margin-right:30px;">
                <p style="font-weight: 600; font-size: large;">Kontakt Daten</p>
        {% for field in kform if field.widget.input_type != 'hidden' %}

                      <p style="margin-bottom: -5px;"><th>{{ field.label }}: </th></p>
                      <td> {{ field }}</td>
                {% for error in field.errors %}
                  <span style="color: red;"> [{{ error }}]</span>
                {% endfor %}
        {% endfor %}
            </div>
            <div class="col-*-*" >
                <p style="font-weight: 600; font-size: large;">Organisatorische Daten</p>
        {% for field in oform if field.widget.input_type != 'hidden' %}

                      <p style="margin-bottom: -5px;"><th>{{ field.label }}: </th></p>
                      <td> {{ field }}</td>
                {% for error in field.errors %}
                  <span style="color: red;"> [{{ error }}]</span>
                {% endfor %}
        {% endfor %}
            </div>
        </div>
    </tr>

      <div style=" margin-top: 10px; text-align:center; padding: 10px; border-radius: 10px; background-color: rgb(232,232,232)" >
            <button class="btn-primary-light" type="submit" value="Submit">Änderungen Vornehmen</button>
        </div>
</form>
{% endblock %}
