{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block body %}

<div id="back" style="position: absolute; top: 40px; left: 80px;">
    <a aria-expanded="false" aria-haspopup="true"
                   title="Liste aller Fehltage"
                   href="{{ url_for('mitarbeiterliste.Fehltage_aendern', mID=event.mitarbeiterRef.id) }} "
                    role="button">
                    <i class="fas fa-arrow-circle-left fa-lg"></i>
    </a>
</div>

<div class="row justify-content-center" id="content">
    <div class="col-*-*" id="old" style="line">
        <h3><b>Alter Eintrag</b></h3>
        <h5 style="position:relative; top: 25px;">Grund des Fehlens: {{event.titel}}</h5>
        <h5 style="position:relative; top: 85px;">von: {{event.start}}</h5>
        <h5 style="position:relative; top: 125px;">bis: {{event.endanzeige}}</h5>
    </div>

    <div class="col-*-*" id="new" style="margin-left: 250px;">
        <h3><b>Neuer Eintrag</b></h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.fehlgrund) }}
            <b>Zeitraum</b>
            {{ render_field(form.vonDate) }}
            {{ render_field(form.bisDate) }}
            <button type=submit value=Submit class="btn btn-outline-dark btn-sm">Änderung Übernehmen</button>
    </form>
    </div>
</div>
{% endblock %}