{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}Add Mitarbeiter{% endblock %}

{% block body %}
<h1>Stammdatenverwaltung</h1>
<style>
h1 {
text-align: center;
padding: 10px;
border-radius: 10px;
background-color: rgb(232,232,232)
}
#adress{
float:left;
margin-top: 100px;
}

#kontakt{
float:left;
margin-left: 100px;
}
</style>

<form method=post>
    {{ form.hidden_tag() }}
    {{ mform.hidden_tag() }}
    {{ kform.hidden_tag() }}
    {{ oform.hidden_tag() }}
  <dl>
      <div style=" padding:4px; border-radius: 20px; text-align: center;">
          <p style="font-size: 200%; font-weight: bold;">Mitarbeiter hinzufügen</p>
      </div>
          <div class="row justify-content-center" style= "border-radius: 20px; ">
              <div class="col-*-*" >
                  {{ render_field(form.name) }}
                  <p style="background-color: grey;">MitarbeiterID wird generiert</p>
                  {{ render_field(form.isPSB) }}
                  {{ render_field(form.gebdat) }}
              </div>
              <div class="col-*-*" style="margin-left: 50px;">
                  {{ render_field(form.nachName) }}
                  <p style="background-color: grey;">Passwort wird generiert </p>
                  {{ render_field(form.abteilung) }}
              </div>

          </div>
          <div class="row justify-content-center" style="border-radius: 20px;  ">
              <div class="col-*-*" >
                  <p style="text-decoration: underline; font-weight: 600; font-size: large;"> Adresse </p>
                  {{ render_field(mform.PLZ) }}
                  {{ render_field(mform.ort) }}
                  {{ render_field(mform.straße) }}
                  <p style="text-decoration: underline; font-weight: 600; font-size: large;"> Kontakt </p>
                  {{ render_field(kform.tel) }}
                  {{ render_field(kform.mob) }}
                  {{ render_field(kform.mail) }}
              </div>
              <div class="col-*-*" style="margin-left: 50px;">

                  <p style="text-decoration: underline; font-weight: 600; font-size: large;"> Organisatorische Daten </p>
                  {{ render_field(oform.Wochenstunden) }}
                  {{ render_field(oform.Eintritt) }}
                  {{ render_field(oform.Probez) }}
              </div>
              <div class="col-*-*"></div>
          </div>
  </dl>
    <div class="col-*-*" style="text-align:center; padding: 10px; border-radius: 10px; background-color: rgb(232,232,232)">
        <div style="display: inline-block;" >
            <button class="btn-primary" type=submit value=Submit>Erstellen</button>
        </div>
    </div>

</form>
{% endblock %}
