{% extends "base.html" %}
{% block title %}Mitarbeiter{% endblock %}

{% block body %}

<h1>Mitarbeiterliste</h1>
<p>
<a href="{{ url_for('.add') }}"> add new Mitarbeiter</a>
</p>
<button type="button" class="btn btn-success" onclick="ButtonFilter('bdA')">Anwesend</button>   <!-- Filter-Button -->
<button type="button" class="btn btn-danger" onclick="ButtonFilter('nbdA')">nicht Anwesend</button> <!-- Filter-Button -->
<button type="button" class="btn btn-warning" onclick="ButtonFilter('all')">Alle</button> <!-- Filter-Button -->
<p></p>
<input type="search" placeholder="Name, Nachname, #Abteilung" name="search" class="form-control searchbox-input" required=""> <!-- Such bereich -->
<p></p>

{% for m in mitarbeiterliste %}  <!-- für den jeden Mitarbeiter wird ein Card erstellt. -->
{% if not m.locked %}
<div class="card" style="width: 16rem;display: inline-block;"> <!-- Bootstap card class -->

    <div class="card-body">
        <span class="{{m.atWorkfunc()}}"> </span> <!-- hier wird kontrolliert, ob der Mitarbeiter anwesend ist (function ist im mdb.py unter Mitarbeiter-calss) -->
        <p class="card-text">
            {{m.name }}, {{m.nachName }}
        </p>
        <p class="card-text" name="abteilung"> {{m.abteilung}} </p>
        <p class="card-text" name="abteilung"> {{m.mitarbeiterID}} </p>
        <div class="btn-group">
            <button id="vkarte" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            more
            </button>
            <div class="dropdown-menu" aria-labelledby="vkarte">
                <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('.stammdatenansicht', mID=m.mitarbeiterID) }} ">Stammdaten</a></button>
                <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('.zeitmanagement', mID=m.mitarbeiterID) }} ">Zeitmanagement</a></button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<h2>Deaktivierte Mitarbeiter</h2>

{% for m in mitarbeiterliste %}    <!-- für den jeden Mitarbeiter wird ein Card erstellt. -->
{% if m.locked %}
<div class="card" style="width: 16rem;display: inline-block;">  <!-- Bootstap card class -->


    <div class="card-body">
        <span class="{{m.atWorkfunc()}}"> </span> <!-- hier wird kontrolliert, ob der Mitarbeiter anwesend ist (function ist im mdb.py unter Mitarbeiter-calss) -->
        <p class="card-text">
            {{m.name }}, {{m.nachName }}
        </p>
        <p class="card-text" name="abteilung"> {{m.abteilung}} </p>
        <p class="card-text" name="abteilung"> {{m.mitarbeiterID}} </p>
        <div class="btn-group">
            <button id="dvkarte" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            more
            </button>
            <div class="dropdown-menu" aria-labelledby="dvkarte">
                <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('.stammdatenansicht', mID=m.mitarbeiterID) }} ">Stammdaten</a></button>
                <button type="button" class="btn btn-outline-dark btn-sm"><a href="{{ url_for('.zeitmanagement', mID=m.mitarbeiterID) }} ">Zeitmanagement</a></button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<script>
    $('.searchbox-input').on('keyup',function () {      // wenn Benutzer eine Eingabe angibt, wird die Funktion aufgerufen.
    $('.card').show();                                  // alle Karten zeigen
	var filter = $(this).val();                         // was der Benutzer im Suchbereich geschrieben hat.
    $('.card').find(".card-body:not(:contains(" + filter + "))").parent().css('display','none'); // Card-Body wird kontrolliert,
    if(filter==""){         //Bei der Ohne Eingabe werden alle Karte angezeigt                   // ob Körper der Karte die Eingabe enthält.
        $('.card').css('display','inline-block');
    }
});
</script>
<script>
    // Wenn "Anwesend" Button angeklickt wird, werden alle Karte der Mitarbeiter, die nicht Anwesend sind, wurde nicht angezeigt. und umgekehrt.
    function ButtonFilter(whichB){          // Welches Button wurde angeklickt?
    if(whichB=='bdA'){  //bei der Arbeit (Anwesend)
        $('.card').find(".badge-danger").parent().css('display','none');                            // badge-danger = nicht Anwesend
        $('.card').find(".badge-success").parent().css('display','inline-block');                   // badge-success = Anwesend
    }
    else if(whichB=='nbdA'){ //nicht bei der Arbeit (nicht Anwesend)
        $('.card').find(".badge-success").parent().css('display','none');
        $('.card').find(".badge-danger").parent().css('display','inline-block');
    }
    else {                          // Zeigt alle Karte
        $('.card').find(".badge-success").parent().css('display','inline-block');
        $('.card').find(".badge-danger").parent().css('display','inline-block');
    }
}
</script>
{% endblock %}

