{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}Stammdaten{% endblock %}

{% block body %}
<h1>Stammdaten</h1>
<style>
h1 {
text-align: center;
padding: 10px;
border-radius: 10px;
background-color: rgb(232,232,232)
}
#adress{
float:left;
margin-top: 100px;
}

#kontakt{
float:left;
margin-left: 100px;
}

</style>
<script>


document.getElementByName('deletebutton').onclick = function message(){
    confirm("Mitarbeiter löschen?");
    alert("Mitarbeiter wird gelöscht");
}​

</script>
<dl>
    <div style=" padding:4px; border-radius: 20px; text-align: center;">
        <strong style="text-decoration: underline; font-weight: 600; font-size: large;">Persönliche Daten</strong>
        <p style="font-size: 200%; font-weight: bold;">{{mitarbeiterliste.nachName}}, {{mitarbeiterliste.name}}</p>
    </div>
    <div class="row justify-content-center" style="border-radius: 20px; ">
        <div class="col-*-*">
            <p><strong>Geburtsdatum: </strong>{{ mitarbeiterliste.gebdat }}</p>
            <p><strong>Benutzername: </strong>{{ mitarbeiterliste.mitarbeiterID }}
            </p>
        </div>
    </div>
    <div class="row justify-content-center" style="border-radius: 20px; margin-top: 30px;">
        <div class="col-*-*">
            <p style="text-decoration: underline; font-weight: 600; font-size: large;"> Adresse </p>
            <p><strong>PLZ: </strong>{{ adress.PLZ }} </p>
            <p><strong>Ort: </strong>{{ adress.ort }} </p>
            <p><strong>Straße: </strong>{{ adress.straße }} </p>

            <p style="text-decoration: underline; font-weight: 600; font-size: large;"> Kontakt </p>
            <p><strong>Festnetz: </strong>{{ kontak.tel }} </p>
            <p><strong>Mobil-Tel: </strong>{{ kontak.mob }} </p>
            <p><strong>E-Mail: </strong>{{ kontak.mail }} </p>
        </div>
        <div class="col-*-*" style="margin-left: 50px;">
            <p style="text-decoration: underline; font-weight: 600; font-size: large;">Organisatorische Daten</p>
            <p><strong>Wochenstunden: </strong>{{ orga.Wochenstunden }} </p>
            <p><strong>Eintritt: </strong>{{ orga.Eintritt }} </p>
            <p><strong>Probezeit: </strong>{{ orga.Probez }} </p>
        </div>

    </div>
</dl>
<div class="col-*-*" style="text-align:center; padding: 10px; border-radius: 10px; background-color: rgb(232,232,232)">
    <div style="display: inline-block;">
        <button type="button" class="btn btn-outline-dark btn-sm"><a
                href="{{ url_for('.edit_profile', mID=mitarbeiterliste.mitarbeiterID) }} ">Bearbeiten</a></button>
    </div>
    {% if not mitarbeiterliste.locked %}
    <div style="display: inline-block;">
        <button type="button" name="deactivatebutton" class="btn btn-outline-dark btn-sm"><a
                href="{{ url_for('.deactivate', mID=mitarbeiterliste.mitarbeiterID) }}">Deaktivieren</a></button>
    </div>

    {% endif %}
    {% if mitarbeiterliste.locked %}
    <div style="display: inline-block;">
        <button type="button" name="deactivatebutton" class="btn btn-outline-dark btn-sm"><a
                href="{{ url_for('.activate', mID=mitarbeiterliste.mitarbeiterID) }}">Aktivieren</a></button>
    </div>


    {% endif %}


    <div style="display: inline-block;">

        <button type="button" name="deletebutton" class="btn btn-danger" onclick="message()"><a
                href="{{ url_for('.delete', mID=mitarbeiterliste.mitarbeiterID) }}">Löschen</a></button>

    </div>
</div>
{% endblock %}




