{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block body %}


<div id="back" style="position: absolute; top: 40px; left: 80px;">

    <a aria-expanded="false" aria-haspopup="true"
                   title="zurück zum Zeitmanagement"
                   href="{{ url_for('mitarbeiterliste.zeitmanagement', mID=mitarbeiter.id) }} "
                    role="button">
                    <i class="fas fa-arrow-circle-left fa-lg"></i>
                </a>
</div>

<h3 style="text-align: left;">Liste aller Fehltage</h3>

    <table class="table" id="S">
      <thead>
    <tr>
      <th scope="col">Fehlgrund</th>
      <th scope="col">von</th>
      <th scope="col">bis</th>
    </tr>
  </thead>

    {% for a in mitarbeiterEvents %}
        {% if a.mitarbeiterRef == mitarbeiter %}
            <tr><td>{{ a.titel }}</td>
                <td>{{ a.start }}</td>
                <td>{{ a.endanzeige }}</td>
                <td>
                    <button type="button" class="btn btn-outline-dark btn-sm" style="position: absolute; right: 90px;"><a href="{{ url_for('mitarbeiterliste.fehltag_edit', fid=a.id, mID=a.mitarbeiterRef.id) }} ">
                Ändern</a></button>
                    <button type="button" class="btn btn-danger btn-sm" style="position: absolute; right: 170px;"><a href="{{ url_for('mitarbeiterliste.fehltag_loeschen', fid=a.id, mID=a.mitarbeiterRef.id) }} ">
                Löschen</a></button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}


</table>

{% endblock %}