{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}Zeistempel bearbeiten{% endblock %}

{% block body %}
<h1>Zeitstempel ändern</h1>
Neuer Zeitpunkt hat das Format Stunde:Minute
<form method=post>
    {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.start) }}
  </dl>
  <p><input type=submit value=Submit>
</form>
{% endblock %}
